block footer
  #footer-wrapper
    #tasklog-toggle(data-bind='click: $root.toggleTaskLogPane')
      .pane-title
        span.menu-lines
        | Tasks
      .pane-notifications(data-bind='ifnot: dashboard.displayTaskLogPane')
        // ko foreach: getTaskCounts
        .notify(data-bind='css: statusClass, text: count')
        // /ko
    #footer.container-fluid
      #feedback-link
        a(href='mailto:RPCFeedback@rackspace.com')= 'Send Feedback'
          <span class="external">&nbsp;</span>
      #copyright
        &copy; Rackspace, US
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Terms &amp; Privacy'
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Release Notes'