block footer
  #footer-wrapper
    #footer.container-fluid
      #feedback-link
        a(href='mailto:RPCFeedback@rackspace.com')= 'Send Feedback'
          <span class="external">&nbsp;</span>
      #copyright
        &copy; Rackspace, US
        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Terms &amp; Privacy'
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      a(href="#")= 'Release Notes'