extends layout
extends navbar
block body
  .container-fluid
    .row-fluid
      .span2
        ul.nav.nav-list(data-bind="foreach: nodes")
          li: a(href='#', data-bind="text: name")
      .span8
