extends layout
extends navbar
block body
  #root(data-bind='template: {name: "itemTemplate", foreach: items}')

  script(type='text/html', id='itemTemplate')
    .well.well-small.pull-left.drop-shadow
      .pull-left: span.muted(data-bind='text: name')
      .pull-right.btn-group
        button.btn.btn-mini.dropdown-toggle(data-toggle='dropdown')
          i.icon-cog
        ul.dropdown-menu
          li.nav-header Actions
          li.divider
          li: a(tabindex='-1', href='#') Action 1
          li: a(tabindex='-1', href='#') Action 2
      .clear-right

      .well-small(data-bind='sortable: nodes')
        .btn-group
          button.btn.btn-small.popper(data-content='This is a test', data-title='Title', data-bind='text: name, css: $root.statusButton(status())')
          button.btn.btn-small.dropdown-toggle(data-bind='css: $root.statusButton(status())', data-toggle='dropdown')
            i.icon-cog
          ul.dropdown-menu
            li.nav-header Actions
            li.divider
            li: a(tabindex='-1', href='#', data-bind='click: $root.action') Action 1
            li: a(tabindex='-1', href='#') Action 2

      .clear-left
      div(data-bind='template: {name: "itemTemplate", foreach: children}')

