extends layout
extends navbar
block body
  .container-fluid
    .row-fluid
      .span2
        ul.nav.nav-list
          li.nav-header Header
          li: a(href='#') Linkz0r
          li: a(href='#') Other
      .span8
