extends layout
extends navbar
block body
  .container-fluid
    .row-fluid
      .span12
        table.table.table-bordered.table-hover.table-condensed(data-bind='template: {name: "itemTemplate", foreach: items}')

  script(type='text/html', id='itemTemplate')
    table(data-bind='template: {name: "itemTemplate", foreach: children}')
      tr: td(data-bind='text: $data')

