doctype 5
html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/custom.css', rel='stylesheet')
  body
    block navbar
    block body
    block script
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/knockout.min.js')
      script(src='/js/knockout-mapping.min.js')
      script(src='/js/utils.js')
      script(src='/js/index.js')