block navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href='/')= title
        ul.nav(data-bind='foreach: siteNav')
          li(data-bind='click: $parent.siteActive, css: {active: $parent.siteActive() === $data}')
            a(href='#', data-bind='text: name')
