extends layout

block navbar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href='/')= title
        ul.nav(data-bind='foreach: filters')
          li: a(href='#', data-bind='text: name')
        form.navbar-search.pull-right
          input.search-query(type='text', placeholder='Custom Filter')

block append script
  script(src='/js/navbar.js')