block navbar
  #banner.navbar.navbar-fixed-top
    ul#top-links.container-fluid
      li#user-menu.menu
        a(href="#") Some Support Link
        a(href="#") Some Support Link
        a(href="#", data-bind="visible: ntrapy.authCheck, click: ntrapy.authLogout, text: ntrapy.authUser() + ' (Logout)'")
        a(href="#indexInputModalMultiStep", role="button", data-toggle="modal")= "multi-step modal"
    .navbar-inner
      .container-fluid
        #logo-wrapper
          a.brand(href='/')
            span
        ul#links.nav(data-bind='foreach: siteNav')
          li(data-bind='click: $parent.siteActive, css: {active: $parent.siteActive() === $data}')
            a(href='#', data-bind='text: name')
