block templates
  script(type='text/html', id='indexTemplate')
    #root(data-bind='template: {name: "itemTemplate", foreach: wsItems}')
   
    script(type='text/html', id='itemTemplate')
      .well.well-small.pull-left.drop-shadow
        .pull-left: span.muted(data-bind='text: name')
        .pull-right.btn-group
          button.btn.btn-mini.dropdown-toggle(data-toggle='dropdown', data-bind='enable: actions().length')
            i.icon-cog
          ul.dropdown-menu
            li.nav-header Actions
            li.divider
            // ko foreach: actions
            li: a(tabindex='-1', href='#', data-bind='click: action.bind($data, $parent), text: name')
            // /ko
        .clear-right
   
        .drop-target(data-bind='sortable: servers')
          .btn-group
            button.btn.btn-small(data-content='This is a test', data-title='Title', data-bind='text: name, css: ntrapy.statusButton(status()), popper: true')
            button.btn.btn-small.dropdown-toggle(data-bind='css: ntrapy.statusButton(status()), enable: actions().length', data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Actions
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: action.bind($data, $parent), text: name')
              // /ko
   
        .clear-left
        div(data-bind='template: {name: "itemTemplate", foreach: containers}')

  script(type='text/html', id='profileTemplate')
    .well
      h1 Profile test!

  script(type='text/html', id='settingsTemplate')
    .well
      h1 Settings test!
