block templates
  script(type='text/html', id='indexTemplate')
    #root.container-fluid(data-bind='template: getIndexTemplate')

    script(type='text/html', id='indexItemTemplate')
      .well.well-small.pull-left.roush-container
        header.container-header
          .pull-left.btn-group
            button.btn.btn-mini.dropdown-toggle(data-bind="click: $root.getActions", data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Manage
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name + "..."')
              // /ko
          .pull-left.container-name: span(data-bind='text: name')

        .container-body
          .drop-target(data-bind='sortable: servers, attr: {"data-id": id}')
            .btn-group.node
              button.btn.btn-small.btn-node.statusDescription(disabled='disabled', data-bind='css: ntrapy.statusButton(status())')
              button.btn.btn-small.btn-node.dropdown-toggle(data-bind='click: $root.getActions', data-toggle='dropdown')
                i.icon-cog
              ul.dropdown-menu
                li.nav-header Manage
                li.divider
                // ko foreach: actions
                li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name + "..."')
                // /ko
              button.btn.btn-small.btn-node.node-name(data-bind='text: name, popper: $data')
            .clear-right

          div(data-bind='template: {name: "indexItemTemplate", foreach: containers}')

    #indexInputModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        //button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Nova Cluster Creation
      .modal-body
        form.form-horizontal
          p We need some additional information before we can create your new Nova Cluster.
          .control-group(data-bind='foreach: getPlans')
            label.control-label(data-bind='text: key, attr: {for: key}')
            .controls: input.input-medium(type='text', data-bind='attr: {id: key}')
          p.warning-text-paragraph
            strong Warning: 
            | Submitting this form will create a new Nova Cluster.
      .modal-footer
        button.btn.btn-small.btn-primary(type='submit', data-dismiss='modal', data-bind='click: function(){alert("Do the things!")}') Create Nova Cluster
        a.cancel(data-dismiss='modal', aria-hidden='true', href='#') Cancel

  script(type='text/html', id='profileTemplate')
    #main.container-fluid
      #content
        h1 Profile test!

  script(type='text/html', id='settingsTemplate')
    #main.container-fluid
      #content
        h1 Settings test!
