block templates
  script(type='text/html', id='indexTemplate')
    #root.container-fluid(data-bind='template: getIndexTemplate')

    script(type='text/html', id='indexItemTemplate')
      .well.well-small.pull-left.roush-container
        header.container-header
          .pull-left.btn-group
            button.btn.btn-mini.dropdown-toggle(data-bind="click: $root.getActions", data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Actions
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name')
              // /ko
          .pull-left.container-name: span(data-bind='text: name')

        .container-body
          .drop-target(data-bind='sortable: servers, attr: {"data-id": id}')
            .btn-group.node
              button.btn.btn-small.btn-node.statusDescription(disabled='disabled', data-bind='css: ntrapy.statusButton(status())')
              button.btn.btn-small.btn-node.dropdown-toggle(data-bind='click: $root.getActions', data-toggle='dropdown')
                i.icon-cog
              ul.dropdown-menu
                li.nav-header Actions
                li.divider
                // ko foreach: actions
                li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name')
                // /ko
              button.btn.btn-small.btn-node.node-name(data-bind='text: name, popper: $data')
            .clear-right

          div(data-bind='template: {name: "indexItemTemplate", foreach: containers}')

    #indexInputModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      form#inputForm.form-horizontal.modal-form
        .modal-header
          // button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Additional Input Required
        .modal-body
          // ko foreach: getPlans
          .control-group
            label.control-label(data-bind='text: key, attr: {for: key}')
            .controls
              input(type='text', data-bind='attr: {id: key, name: key}, css: {required: value.required}')
              // span.help-inline(data-bind='text: value.friendly')
          // /ko
          // .form-actions
          //  button.btn.btn-small(type='reset', data-dismiss='modal') Cancel
          //  button.btn.btn-small.btn-primary(type='submit') Submit
        .modal-footer
          button.btn.btn-small(type='reset', data-dismiss='modal', aria-hidden='true') Cancel
          button.btn.btn-small.btn-primary(type='submit') Submit
