block templates
  script(type='text/html', id='indexTemplate')
    #root.container-fluid(data-bind='template: getIndexTemplate')

    script(type='text/html', id='indexItemTemplate')
      .well.well-small.pull-left.roush-container
        header.container-header
          .pull-left.btn-group
            button.btn.btn-mini.dropdown-toggle(data-bind="click: $root.getActions", data-toggle='dropdown')
              i.icon-cog
            ul.dropdown-menu
              li.nav-header Actions
              li.divider
              // ko foreach: actions
              li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name')
              // /ko
          .pull-left.container-name: span(data-bind='text: name')
        .clear-right

        .container-body
          .drop-target(data-bind='sortable: servers, attr: {"data-id": id}')
            .btn-group.node
              button.btn.btn-small.statusDescription(data-bind='css: ntrapy.statusButton(status())')
              button.btn.btn-small.dropdown-toggle(data-bind='click: $root.getActions', data-toggle='dropdown')
                i.icon-cog
              ul.dropdown-menu
                li.nav-header Actions
                li.divider
                // ko foreach: actions
                li: a(tabindex='-1', href='#', data-bind='click: $root.doAction.bind($data, $parent), text: name')
                // /ko
              button.btn.btn-small.node-name(data-bind='text: name, popper: $data')

          div(data-bind='template: {name: "indexItemTemplate", foreach: containers}')

    #indexInputModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Additional Input Required
      .modal-body
        form.form-horizontal
          .control-group(data-bind='foreach: getPlans')
            label.control-label(data-bind='text: key, attr: {for: key}')
            .controls: input.input-medium(type='text', data-bind='attr: {id: key}')
      .modal-footer
        button.btn.btn-small(data-dismiss='modal', aria-hidden='true') Cancel
        button.btn.btn-small.btn-primary(type='submit', data-dismiss='modal', data-bind='click: function(){alert("Do the things!")}') Submit

  script(type='text/html', id='profileTemplate')
    #main
      #content.container-fluid
        h1 Profile test!

  script(type='text/html', id='settingsTemplate')
    #main
      #content.container-fluid
        h1 Settings test!
