/****************
General
****************/
body {
  background: #ddd;
  /* Space navbar */
  padding-top: 120px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #333;
  /* Don't allow texte selection */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}
a {
  color: #1d71bf;
}
a.external {
  background-image: url('../img/icons/external-link.png');
  background-position: right center;
  background-repeat: no-repeat;
  margin-right: -1px;
  padding-right: 21px;
}
h1, h2, h3, h4, h5, h6, p {
  text-align: left;
}
p {
  margin: 0 0 20px;
}
.clear-right { clear: right; }
.clear-left { clear: left; }
.clear-both { clear: both; }

.container-fluid, #root, #root > .well  {
  max-width: 1600px;
}
.container-fluid {
  margin: 0 auto;
}
/* Modal */
.modal-body {
  max-height: none;
  padding: 0;
}
.modal-body fieldset {
  padding: 15px;
}
.form-horizontal .form-actions {
  margin: 0px;
  padding: 10px 20px;
}
/* Carousel */
.carousel {
  margin: 0px;
}

/***************
No Connection Modal
***************/
#indexNoConnectionModal {
  width: 656px;
  margin-left: -328px;
}
#indexNoConnectionModal .modal-body {
  padding: 0px;
}
.warning-section {
  padding: 22px;
}
#no-connection-img {
  float: right;
  background: url('../img/no-connection.png') no-repeat center;
  width: 279px;
  height: 217px;
}
.text-section {
  margin-right: 30px;
  width: 380px;
}
h1.warning-header {
  line-height: 18px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  margin-top: .8em;
  margin-bottom: .5em;
}
p.warning-text {
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
  color: #999;
  line-height: 1.2em;
}
p.status-text {
  background: url('../img/icons/loading_spinner.gif') no-repeat 0px 0px;
  padding-left: 25px;
  color: #999;
}

/***************
Header
***************/
#links, #top-links {
  list-style-type: none;
}
#top-links {
  text-align: right;
  color: #999;
  font-size: 12px;
  margin-top: 3px;
}
#top-links li {
  line-height: 14px;
  margin: 0 0 0 10px;
}
#top-links a {
  color: #999;
  padding: 11px;
  display: inline-block;
}
#top-links a:hover {
  color: #ccc;
  text-decoration: none;
}
#banner, #footer-wrapper {
  background-color: #333;
}
#banner {
  z-index: 80;
  box-shadow: 0 -3px 9px 0 #000;
  -moz-box-shadow: 0 -3px 9px 0 #000;
  -webkit-box-shadow: 0 -3px 9px 0 #000;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0px;
}
#logo-wrapper {
  position: relative;
}
.brand {
  position: absolute;
  top: -29px;
  display: block;
  float: none;
  padding: 0px;
  margin: 0px;
  text-shadow: none;
}
.brand span{
  background: transparent url('../img/logo-rackspace.png') no-repeat;
  background-position: center center;
  width: 190px;
  height: 70px;
  display: block;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}
.brand::before {
  content: '';
  display: block;
  height: 20px;
  margin-bottom: -20px;
  background-color: #fff;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
#navbar-inner {
  background: #fff;
  background: -moz-linear-gradient(top,#fff 0,#ececec 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ececec));
  background: -webkit-linear-gradient(top,#fff 0,#ececec 100%);
  background: -o-linear-gradient(top,#fff 0,#ececec 100%);
  background: -ms-linear-gradient(top,#fff 0,#ececec 100%);
  background: linear-gradient(top,#fff 0,#ececec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ececec',GradientType=0);
}
#links {
 height: 58px;
}
#links li {
  margin: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#links li a {
  line-height: 9px;
  color: #888;
  font-size: 14px;
  display: inline-block;
  padding: 9px;
  text-decoration: none;
  text-shadow: 0 1px #fff;
}
#links li a:hover {

}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: transparent;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#links li.active {
  border-color: #ccc;
  font-weight: bold;
  background-color: #fff;
}
#links li.active a {
  color: #333;
}
#links li:first-child {
  margin-left: 210px;
}

/****************
Login Form
****************/
#indexLoginModal {
  width: 656px;
  margin-left: -328px;
}
#indexLoginModal .modal-body {
  padding: 0px;
}
#rackspace-logo-container {
  background: transparent url('../img/logo-rackspace-large.png') no-repeat;
  background-position: center center;
  width: 192px;
  height: 57px;
  display: inline-block;
  float: left;
  margin-top: 80px;
  padding: 40px 49px;
}
#login-form {
  margin: 28px 0;
  padding: 30px 37px;;
  border-left: 1px solid #DDD;
  font-size: 13px;
  float: left;
}
#login-form span.welcome-message {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
#login-form form,
#login-form input {
  margin-bottom: 0px;
}
#login-form label {
  font-size: 12px;
}
#login-form .form-actions {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  border-top: none;
}
#login-form .login-button {
  cursor: pointer;
  margin: 0;
  line-height: 20px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 1px 10px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  background-color: #a60004;
  border-color: #a60004;
  color: #fff;
  background: #d81436;
  background: -moz-linear-gradient(top,#d81436 0,#a60004 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d81436),color-stop(100%,#a60004));
  background: -webkit-linear-gradient(top,#d81436 0,#a60004 100%);
  background: -o-linear-gradient(top,#d81436 0,#a60004 100%);
  background: -ms-linear-gradient(top,#d81436 0,#a60004 100%);
  background: linear-gradient(top,#d81436 0,#a60004 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d81436',endColorstr='#a60004',GradientType=0);
}
#login-form .form-throb {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/icons/loading-grey-white.gif');
  height: 10px;
  width: 13px;
  margin-left: 5px;
}

/****************
Input Form
****************/
#inputForm label {
  line-height: 1;
}

/****************
Content
****************/
#root {
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 300px;
  text-align: left;
}
#root > .well {
  display: block;
  margin: 0 auto;
  border: 0px;
  float: none !important
}
#root > .well > header.container-header {
  height: 70px;
}
#root > .well > header.container-header > .container-name {
  color: #c40022;
  font-size: 24px;
  line-height: 70px;
  font-weight: bold;
}
#root > .well > header.container-header > .btn-group {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 10px;
}
/* Re-space wells */
.well {
  background-color: #fff;
  min-width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-radius: 0px;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fix sibling-spacing so overflow aligns */
.well { margin-right: 10px; }
.well + .well { margin-left: 0px; margin-right: 10px; }
.well:only-of-type { margin-right: 0px; }
.well:last-of-type { margin-right: 0px; }
/*
.btn-group { margin-right: 5px; }
/*
.btn-group + .btn-group {
  margin-left: 0px;
  margin-right: 5px;
}
*/
.btn-group:only-of-type, .btn-group:last-of-type {
  margin-right: 0px;
  padding-right: 0px;
}
*/
/* Tweak container cogs */
/*
.btn-group.pull-right {
  margin-left: 20px;
  margin-right: 0px;
}
.pull-right.btn-group > button {
  margin-left: 30px;
  margin-top: 0px;
}
*/
/* Make some room above nodes */
/*
.btn-group button { margin-top: 10px; }
*/
/* Fix popover fallout */
.btn-group .popover { font-size: 14px; }
.btn-group > .btn + .popover + .btn.dropdown-toggle { margin-left: -1px; padding-left: 8px; padding-right: 8px; }

/* Keep drop target area open */
.drop-target {
  padding: 0px;
  margin: 0px;
  min-height: 10px;
}

/* Let's reset button styles for now */
.btn-node,
.btn-group > .btn-node:first-child,
.btn-group > .btn-node:last-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
 }
.btn-node.active, .btn-node:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-node {
  border: none;
  display: inline-block;
  background-position: center center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group button {
  margin: 0px;
 }

 /* Cogs */
 .container-header .btn-group {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
 }
 .dropdown-toggle {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 2px !important;
  line-height: 14px;
 }
 .dropdown-toggle:hover {
  background-color: #ddd;
 }
.icon-cog {
  background: url('../img/icons/cog-999.png');
}

/* Nodes */
.node {
  padding: 5px 5px 5px 17px;
  margin: 0px 0px 2px 0px;
  border: 1px solid #ccc;
  position: relative;
}
.btn-node.btn[disabled] {
  opacity: 1;
}
.node-name {
  background-color: #fff;
  background-image: none;
  filter: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  padding: 2px 8px;
}
.node-name:hover {
  background: none;
}
.node-name:active {

}
.btn-node.dragDisable {
  cursor: progress;
}
/* Popover */
.node-data {
  padding: 0px;
  margin: 0px;
}
.popover-title {
  font-weight: bold;
  font-size: 18px;
}
.node-data dd,
.node-data dt {
  padding: 0px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 25px;
}
.node-data dt {
  width: 80px;
  font-weight: normal;
  color: #999;
  text-align: right;
}
.node-data dd {
  width: 110px;
  color: #333;
}
.node-data dd.full {
  clear: both;
  width: 100%;
  margin: 0px;
}
ul.backend-list {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  list-style-type: none;
}
ul.backend-list li {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

/* Tags */
.tags .item {
  display: inline-block;
  border: 1px #ccc solid;
  padding: 4px 8px;
  margin-right: 2px;
  font-size: 11px;
  line-height: 11px;
  font-weight: normal;
  color: #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
  background: -moz-linear-gradient(top,#fff 75%,#d8d8d8 150%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(75%,#fff),color-stop(150%,#d8d8d8));
  background: -webkit-linear-gradient(top,#fff 75%,#d8d8d8 150%);
  background: -o-linear-gradient(top,#fff 75%,#d8d8d8 150%);
  background: -ms-linear-gradient(top,#fff 75%,#d8d8d8 150%);
  background: linear-gradient(top,#fff 75%,#d8d8d8 150%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d8d8d8',GradientType=0);
}
/* Containers */
.roush-container {
  margin-bottom: 10px;
}
.container-header {
  height: 40px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 5px;
  padding-right: 10px;
  color: #333;
}
.container-name {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  line-height: 40px;
}
.container-body {
  padding: 10px;
  position: relative;
}

/* Status */
.statusDescription {
  width: 10px;
  margin: 0px;
  padding: 0px;
  border: none;
  position: absolute !important;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

/* States */
.ok_state {
  background-color: #00a96d !important;
}
.warning_state, .warning_state_wait_for_action {
  background-image: url('../img/progress-dark-yellow-status.gif') !important;
  background-repeat: repeat;
}
.error_state {
  background-color: #c40022 !important;
}
.disabled_state, .pending_state {
  background-color: #ccc !important;
}
.processing_state {
  background-color: #1e6ec1 !important;
}

/* Dropdown Action */
.dropdown-menu {
  padding: 4px 0;
  margin: -3px 0 0;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
}
.dropdown-menu .nav-header:first-child {
  padding-top: 5px;
}
.dropdown-menu .nav-header {
  cursor: default;
  font-size: 10px;
  line-height: 10px;
  color: #999!important;
  text-transform: uppercase;
  padding: 10px 5px 5px 7px;
  font-weight: bold;
}
.dropdown-menu .divider {
  display: none;
}
.dropdown-menu li > a {
  display: block;
  padding: 3px 7px;
  clear: both;
  font-weight: normal;
  line-height: 13px;
  font-size: 13px;
  color: #1d71bf;
  white-space: nowrap;
  text-transform: capitalize;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #1d71bf;
  text-decoration: underline;
  background-color: transparent;
  background-image: none;
  filter: none;
}
/* Secondary Pages */
#main {
  padding: 0px 30px 30px 30px;
}
#content {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 300px;
}
#content > header {
  margin-bottom: 20px;
}
#content h1 {
  color: #c40022;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  line-height: 24px;
}
/* Forms */
input, select, textarea {
  font-size: 13px !important;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #333;
}
input:not([type]), input[type="text"], textarea, input[type="password"], .inputContainer {
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 0px 4px;
  border: 1px solid #999;
  height: 25px;
}
textarea {
  height: auto;
}
.form-horizontal {
  margin-bottom: 0px;
}
.form-horizontal .controls {
  margin-left: 270px;
  margin-bottom: 15px;
}
.form-horizontal .control-label {
  width: 250px;
  text-align: right;
  font-size: 13px;
}
.form-horizontal .control-group {
  margin-bottom: 0px;
  position: relative;
}
.tooltip-toggle,
.info {
  background: url('../img/icons/help.png') no-repeat center center;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-bottom: -3px;
  margin-left: 10px;
  width: 16px;
}
.tooltip-inner {
  text-align: justify;
}

/* Buttons */
.btn {
  margin-right: 5px;
}
.standard-button,
.btn-secondary {
  cursor: pointer;
  line-height: 20px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  text-align: center;
  padding: 1px 10px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0 1px 1px #fff;
  background-color: #c5c5c5;
  border-color: #999;
  color: #333;
  background: #fff;
  background: -moz-linear-gradient(top,#fff 0,#c5c5c5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#c5c5c5));
  background: -webkit-linear-gradient(top,#fff 0,#c5c5c5 100%);
  background: -o-linear-gradient(top,#fff 0,#c5c5c5 100%);
  background: -ms-linear-gradient(top,#fff 0,#c5c5c5 100%);
  background: linear-gradient(top,#fff 0,#c5c5c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#c5c5c5',GradientType=0);
}
.standard-button:not([disabled]):hover,
.btn-secondary:not([disabled]):hover {
  background: #fff;
  background: -moz-linear-gradient(top,#fff 0,#d7d7d7 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#d7d7d7));
  background: -webkit-linear-gradient(top,#fff 0,#d7d7d7 100%);
  background: -o-linear-gradient(top,#fff 0,#d7d7d7 100%);
  background: -ms-linear-gradient(top,#fff 0,#d7d7d7 100%);
  background: linear-gradient(top,#fff 0,#d7d7d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d7d7d7',GradientType=0);
  text-decoration: none;
}
.standard-button:not([disabled]):active,
.btn-secondary:not([disabled]):active {
  background-image: none;
  background-color: #f3f3f3;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.4);
}
.btn-primary {
  cursor: pointer;
  line-height: 20px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  padding: 1px 10px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  background: #666;
  background: -moz-linear-gradient(top,#666 0,#333 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#333));
  background: -webkit-linear-gradient(top,#666 0,#333 100%);
  background: -o-linear-gradient(top,#666 0,#333 100%);
  background: -ms-linear-gradient(top,#666 0,#333 100%);
  background: linear-gradient(top,#666 0,#333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',endColorstr='#333333',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.btn-primary:hover {
  background: #777;
  background: -moz-linear-gradient(top,#777 0,#555 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#777),color-stop(100%,#555));
  background: -webkit-linear-gradient(top,#777 0,#555 100%);
  background: -o-linear-gradient(top,#777 0,#555 100%);
  background: -ms-linear-gradient(top,#777 0,#555 100%);
  background: linear-gradient(top,#777 0,#555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777',endColorstr='#555555',GradientType=0);
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.cancel {
  color: #1d71bf;
  font-size: 13px;
  padding: 0px;
}
.cancel:hover {
  text-decoration: underline;
}

/* Modal */
.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.modal-header h3 {
  font-size: 18px;
  line-height: 30px;
}
.modal-footer {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  text-align: left;
}
.form-horizontal .form-actions {
  background-color: #fff;
}
.modal-footer {
  background-color: #fff;
}
.modal-footer .btn + .btn {
  margin-left: 0;
}

/* Form Validation */
.warning-text-paragraph {
  background-image: url('../img/icons/check_status_WARNING.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 3px;
}
.control-group.success label.error {
  background-image: url('../img/icons/check_fixed.png');
}
.control-group label {
    display: inline-block !important;
}
.control-group label.error {
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: hidden;
  white-space: nowrap;
  text-indent: 200%;
  position: relative;
  margin-top: -2px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-left: 0px;
  vertical-align: middle;
  background-image: url('../img/icons/alert_red.png');
  background-repeat: no-repeat;
  background-position: 0px center;
  color: #c40022;
  font-size: 12px;
}
.control-group.success .control-label {
  color: inherit;
}
.control-group.success input {
  border-color: #999;
  color: inherit;
}
.control-group.error .control-label {
  color: inherit;
}
.control-group.success input {
  color: inherit;
}

/* Progress Meter */
#progress-meter {
  border: 1px solid #cccccc;
  padding: 1px;
  margin: 10px;
  line-height: 0px;
}
#progress-meter .progress-bar {
  background-color: #d5e4f2;
  display: inline-block;
  border-left: 1px solid #fff;
  margin-right: -1px;
  height: 10px;
}
#progress-meter .progress-bar.filled {
  background-color: #2f81d1;
}
#progress-meter .progress-bar:first-child {
  border-left: none;
  background-color: #2f81d1;
}
#progress-meter .progress-bar:last-child {
  margin-left: 0px;
  border-left: 1px solid #fff;
}
/* Zero State */
.empty_overlay_widget {
  width: 100%;
  text-align: center;
}
.create_one_now_section {
  width: 100%;
}
.create_one_now_section div.create_one_message {
  margin-bottom: 10px;
  padding-top: 120px;
  line-height: 20px;
  padding-bottom: 110px;
}
.create_one_now_section div.create_one_message p {
  background-color: #fff;
  padding: 2px;
  color: #a9a9a9;
  font-size: 13px;
  margin: 0 auto;
  display: inline-block;
}
.create_one_now_section div.create_one_message div:first-child p {
  font-weight: bold;
  color: #666;
}
.create_one_now_section div.create_one_message .create_one_message_top {
  padding-top: 30px;
  font-size: 24px;
}
.create_one_now_section div.create_one_message .create_one_message_middle {
  font-size: 18px;
}
.create_one_now_section div.create_one_message .create_one_message_description {
  margin-top: 60px;
}
.empty_overlay_widget .create_one_now_arrow {
  background-image: url('../img/zero_table_red_arrow.png');
  background-position: top left;
  background-repeat: no-repeat;
  height: 198px;
  margin: 3px 0 0 10px;
  position: absolute;
  top: 35px;
  width: 264px;
}
/*****************
Footer
*****************/
#footer-wrapper {
  color: #999;
  font-size: 12px;
  line-height: 10px;
  z-index: 40;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#footer {
  text-align: left;
}
#footer a {
  color: #999;
}
#feedback-link {
  float: right;
}
#copyright {
  display: inline-block;
  padding: 15px 0;
}
#feedback-link a {
  background-color: #3165a4;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 0;
  padding: 0 10px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#feedback-link span.external {
  background-image: url('../img/icons/external-link-transparent.png');
  background-position: center 4px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
  width: 13px;
}
/* Media Queries */
@media (max-width: 979px) {
  .navbar .brand {
    margin: 0 0 0 -10px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 979px), (max-width: 767px) {
  body {
    padding-top: 0px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar-fixed-top {
    margin-bottom: 10px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -10px;
    margin-left: -10px;
  }
  #footer-wrapper {
    margin-right: -10px;
    margin-left: -10px;
  }
}
