/****************
General
****************/
body {
  background: #ddd;
  /* Space navbar */
  padding-top: 110px;
  padding-bottom: 40px;

  /* Prepare to center floats */
  margin: 0 auto;
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #333;
}
a, body {
  color: #333;
}
h1, h2, h3, h4, h5, h6, p {
  text-align: left;
}
p {
  margin: 0 0 20px;
}
.clear-right { clear: right; }
.clear-left { clear: left; }
.clear-both { clear: both; }

.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  #footer-wrapper {
    margin-right: -20px;
    margin-left: -20px;
  }
}
/***************
Header
***************/
#links, #top-links {
  list-style-type: none;
}
#top-links {
  text-align: right;
  color: #999;
  font-size: 12px;
  margin-top: 3px;
}
#top-links li {
  line-height: 35px;
  margin: 0 0 0 10px;
}
#top-links a {
  color: #999;
  padding: 10px;
}
#top-links a:hover {
  color: #ccc;
  text-decoration: none;
}
#banner, #footer-wrapper {
  min-width: 1030px;
  background-color: #333;
}
#banner {
  z-index: 80;
  box-shadow: 0 -3px 9px 0 #000;
  -moz-box-shadow: 0 -3px 9px 0 #000;
  -webkit-box-shadow: 0 -3px 9px 0 #000;
}
#logo-wrapper {
  position: relative;
}
.navbar .brand {
  position: absolute;
  top: -20px;
  display: block;
  float: none;
  padding: 0px;
  margin: 0px;
  text-shadow: none;
}
.navbar .brand span{
  background: transparent url('../img/logo-rackspace.png') no-repeat;
  background-position: center center;
  width: 190px;
  height: 70px;
  display: block;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}
.brand::before {
  content: '';
  display: block;
  height: 20px;
  margin-bottom: -20px;
  background-color: #fff;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
#navbar-inner {
  background: #fff;
  background: -moz-linear-gradient(top,#fff 0,#ececec 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ececec));
  background: -webkit-linear-gradient(top,#fff 0,#ececec 100%);
  background: -o-linear-gradient(top,#fff 0,#ececec 100%);
  background: -ms-linear-gradient(top,#fff 0,#ececec 100%);
  background: linear-gradient(top,#fff 0,#ececec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ececec',GradientType=0);
}
#links {
 height: 58px;
}
#links li {
  margin: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#links li a {
  line-height: 9px;
  color: #888;
  font-size: 14px;
  display: inline-block;
  padding: 9px;
  text-decoration: none;
  text-shadow: 0 1px #fff;
}
#links li a:hover {

}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: transparent;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}
#links li.active {
  border-color: #ccc;
  font-weight: bold;
  background-color: #fff;
}
#links li.active a {
  color: #333;
}
#links li:first-child {
  margin-left: 210px;
}

/****************
Content
****************/
#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 0px 30px 0px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 300px;
  text-align: left;
}
#root > .well {
  display: block;
  margin: 0 auto;
  border: 0px;
  float: none !important
}
#root > .well > header.container-header {
  height: 70px;
}
#root > .well > header.container-header > .container-name {
  color: #c40022;
  font-size: 24px;
  line-height: 70px;
  font-weight: bold;
}
#root > .well > header.container-header > .btn-group {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 10px;
}
/* Re-space wells */
.well {
  background-color: #fff;
  min-width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-radius: 0px;
  padding: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Fix sibling-spacing so overflow aligns */
.well { margin-right: 10px; }
.well + .well { margin-left: 0px; margin-right: 10px; }
.well:only-of-type { margin-right: 0px; }
.well:last-of-type { margin-right: 0px; }
/*
.btn-group { margin-right: 5px; }
/*
.btn-group + .btn-group {
  margin-left: 0px;
  margin-right: 5px;
}
*/
.btn-group:only-of-type, .btn-group:last-of-type {
  margin-right: 0px;
  padding-right: 0px;
}
*/
/* Tweak container cogs */
/*
.btn-group.pull-right {
  margin-left: 20px;
  margin-right: 0px;
}
.pull-right.btn-group > button {
  margin-left: 30px;
  margin-top: 0px;
}
*/
/* Make some room above nodes */
/*
.btn-group button { margin-top: 10px; }
*/
/* Fix popover fallout */
.btn-group .popover { font-size: 14px; }
.btn-group > .btn + .popover + .btn.dropdown-toggle { margin-left: -1px; padding-left: 8px; padding-right: 8px; }

/* Keep drop target area open */
.drop-target {
  padding: 0px;
  margin: 0px;
  min-height: 10px;
}

/* Let's reset button styles for now */
.btn-node,
.btn-group > .btn-node:first-child,
.btn-group > .btn-node:last-child {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
 }
.btn-node.active, .btn-node:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-node {
  border: none;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group button {
  margin: 0px;
 }

 /* Cogs */
 .container-header .btn-group {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
 }
 .dropdown-toggle {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 2px !important;
  line-height: 14px;
 }
 .dropdown-toggle:hover {
  background-color: #ddd;
 }
.icon-cog {
  background: url('../img/cog-999.png');
}

/* Nodes */
.node {
  padding: 5px 5px 5px 20px;
  margin: 0px 0px 2px 0px;
  border: 1px solid #ccc;
  position: relative;
}
.btn-node.btn[disabled] {
  opacity: 1;
}
.node-name {
  background-color: #fff;
  background-image: none;
  filter: none;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.node-name:hover {
  background: none;
}
.node-name:active {

}
/* Containers */
.roush-container {
  margin-bottom: 10px;
}
.container-header {
  height: 40px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 5px;
  padding-right: 10px;
  color: #333;
}
.container-name {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  line-height: 40px;
}
.container-body {
  padding: 10px;
}

/* Status */
.statusDescription {
  width: 10px;
  margin: 0px;
  padding: 0px;
  border: none;
  position: absolute !important;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

/* Dropdown Action */
.dropdown-menu {
  padding: 4px 0;
  margin: -3px 0 0;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 9px 2px rgba(0,0,0,0.2);
}
.dropdown-menu .nav-header:first-child {
  padding-top: 5px;
}
.dropdown-menu .nav-header {
  cursor: default;
  font-size: 10px;
  line-height: 10px;
  color: #999!important;
  text-transform: uppercase;
  padding: 10px 5px 5px 7px;
  font-weight: bold;
}
.dropdown-menu .divider {
  display: none;
}
.dropdown-menu li > a {
  display: block;
  padding: 3px 7px;
  clear: both;
  font-weight: normal;
  line-height: 13px;
  font-size: 13px;
  color: #1d71bf;
  white-space: nowrap;
  text-transform: capitalize;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #1d71bf;
  text-decoration: underline;
  background-color: transparent;
  background-image: none;
  filter: none;
}
/* Secondary Pages */
#main {
  padding: 0px 30px 30px 30px;
}
#content {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-height: 300px;
}
#content > header {
  margin-bottom: 20px;
}
#content h1 {
  color: #c40022;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  line-height: 24px;
}
/* Forms, inputs and buttons */
input:not([type]), input[type="text"], textarea, input[type="password"], .inputContainer {
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  background-color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px 4px 2px;
  border: 1px solid #999;
  height: 25px;
}
textarea {
  height: auto;
}
input, select, textarea {
  font-size: 13px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #333;
}
.form-horizontal .controls {
  margin-left: 170px;
  margin-bottom: 15px;
}
.form-horizontal .control-label {
  width: 150px;
  text-align: left;
}
.btn-primary {
  cursor: pointer;
  margin: 0;
  line-height: 20px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  padding: 1px 10px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #333;  
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  background: #666;
  background: -moz-linear-gradient(top,#666 0,#333 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#666),color-stop(100%,#333));
  background: -webkit-linear-gradient(top,#666 0,#333 100%);
  background: -o-linear-gradient(top,#666 0,#333 100%);
  background: -ms-linear-gradient(top,#666 0,#333 100%);
  background: linear-gradient(top,#666 0,#333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',endColorstr='#333333',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  margin-right: 10px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.modal .btn:hover {
  background: #777;
  background: -moz-linear-gradient(top,#777 0,#555 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#777),color-stop(100%,#555));
  background: -webkit-linear-gradient(top,#777 0,#555 100%);
  background: -o-linear-gradient(top,#777 0,#555 100%);
  background: -ms-linear-gradient(top,#777 0,#555 100%);
  background: linear-gradient(top,#777 0,#555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777',endColorstr='#555555',GradientType=0);
  text-decoration: none;
  background-position: 0 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.cancel {
  display: inline-block;
  color: #1d71bf;
  background: 0;
  border: 0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  cursor: pointer;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding: 1px 0 2px 0;
  text-decoration: none;
}
a.cancel:hover {
  text-decoration: underline;
}
/* Modal */
.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.modal-header h3 {
  font-size: 18px;
  line-height: 30px;
}
.modal-footer {
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  text-align: left;
}
/* Warnings */
.warning-text-paragraph {
  background-image: url('../img/check_status_WARNING.png');
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 0 3px;
}
/*****************
Footer
*****************/
#footer-wrapper {
  color: #999;
  font-size: 12px;
  line-height: 10px;
  z-index: 40;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#footer {
  text-align: left;
}
#footer a {
  color: #999;
}
#feedback-link {
  float: right;
}
#copyright {
  display: inline-block;
  padding: 15px 0;
}
#feedback-link a {
  background-color: #3165a4;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 10px 0;
  padding: 0 10px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#feedback-link span.external {
  background-image: url('../img/external-link-transparent.png');
  background-position: center 4px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
  width: 13px;
}
